/*Main styles*/
:root{
  --background-mobile: "";
  --background-tablet: "";
  --background-desktop: "";
}
body{
  margin: 0px;
  padding: 0px;
  color: #fff;
  font-family: 'Barlow', sans-serif;
  font-size: 1em;
  width: 100%;
}
p{
  color: #d0d6f9;
  line-height: 1.8;
}
#background{
  background-color: #0B0D17;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100%;
  position: fixed;
  bottom: 0px;
  left: 0;
  z-index: -1;
  transform: rotate(0deg);
  min-width: 290px;
}
section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
}

.content{
  margin-left: 40px;
}
p{
  font-size: 1.2em;
  letter-spacing: 1px;
}
/*Desktop styles*/
@media screen and (min-width: 1000px) {
  #background{
    background-image: var(--background-desktop);  
  }
  .app .content{
    flex-direction: row; 
  }
}
/*tablet styles*/
@media screen and (min-width:450px) and (max-width: 999px)  {
  #background{
    background-image: var(--background-tablet);
  }
}
/*mobile styles*/
@media screen and (max-width: 449px) {
  #background{
    background-image: var(--background-mobile);
  }
}
/*Tablet and mobile styles*/
@media screen and (max-width: 999px)  {
  section{
    flex-direction: column;
    text-align: center;
    margin: auto;
  }
  section div:last-child{
    margin-bottom: 50px;
  }
}
